<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header col-lg-4">
      {{#link-to "index" classNames="logo"}}
        <img alt="Pophealth logo small trans" src="/assets/images/pophealth_logo_small-trans.png" />
      {{/link-to}}
    </div>
  </div>
</div>

{{registration-form}}