<form {{action "login" on="submit"}}>
  <div class="form-group input-group input-group-lg">
    <span class="input-group-addon"><i class="fa fa-user fa-lg fa-fw"></i></span>
    {{input type="text" value=identification classNames="form-control" placeholder="username"}}
  </div>
  <div class="form-group input-group input-group-lg">
    <span class="input-group-addon"><i class="fa fa-lock fa-lg fa-fw"></i></span>
    {{input type="text" value=password classNames="form-control" placeholder="password"}}
  </div>

  <input class="btn btn-login" type="submit" value="Login" />

  <div class="links">
    <p>
      {{#link-to 'users.password.new'}}
        <i class="fa fa-question-circle"></i>
        forgot password?
      {{/link-to}}
    </p>
    <p>
      {{#link-to 'users.sign-up'}}
        <i class="fa fa-plus-circle"></i>
        register
      {{/link-to}}
    </p>
  </div>
</form>